source https://www.nuget.org/api/v2
nuget FAKE
nuget FSharp.Core
nuget Argu
nuget Expecto
nuget FSharpx.Async
nuget FSharp.Data
nuget FSharpx.Collections
nuget FSharpx.Extras
nuget Microsoft.Azure.KeyVault.Core
nuget Microsoft.Data.Edm
nuget Microsoft.Data.OData
nuget Microsoft.Data.Services.Client
nuget Mono.Cecil
nuget Newtonsoft.Json
nuget Suave
nuget System.ComponentModel.EventBasedAsync
nuget System.Dynamic.Runtime
nuget System.Linq.Queryable
nuget System.Net.Requests
nuget System.Spatial
nuget WindowsAzure.ServiceBus
nuget WindowsAzure.Storage